/* ---------- Reset & 基本設定 ---------- */
:root {
  --primary-color: #333;
  --accent-color: #1f4a66;
  --border-color: #c0b1b1;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --font-size-lg: clamp(3rem, 5vw, 4rem);
  --font-size-md: clamp(2rem, 3vw, 3rem);
  --font-size-sm: clamp(1.5rem, 2vw, 2rem);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1rem = 10px，方便計算 */
}
body {
  font-family: "Intel One Mono", "Noto Sans Traditional Chinese", monospace;
  line-height: 1.6;
  background-color: #ffffff;
  color: var(--primary-color);
  font-size: 1.6rem; /* 基礎字體大小 */
}

.title-line {
  width: min(30rem, 80%); /* 響應式寬度 */
  height: 2px;
  background-color: #747d82;
  border: none;
  margin: var(--spacing-md) auto;
  border-radius: 2px;
}
img {
  user-select: none;
  pointer-events: none;
}

/* ---------- 導覽列 ---------- */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:var(--spacing-md);
  background-color: #ffffff;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span {
  height: 3px;
  background:var(--primary-color);
  margin: 5px 0;
  width: 25px;
  transition: all 0.3s ease;
}
/* ---------- 導覽列中的連結 ---------- */
.navbar_logo {
  font-size:var(--font-size-lg);
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
  font-family: "Intel One Mono", monospace;
}
.navbar_links a {
  font-size:var(--font-size-md);
  font-weight: 500;
  text-decoration: none;
  color:var(--primary-color);
  position: relative;
  display: inline-block;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}
.navbar_links ul {
  display: flex;
  list-style: none;
  margin-right: 1rem;
  gap: var(--spacing-lg);
}
.navbar_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color:var(--accent-color);
  transition: width 0.3s ease;
}
.navbar_link:hover::after {
  width: 100%;
}
.navbar_link:hover {
  color:var(--accent-color);
}
/* ---------- body ---------- */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 視訊填滿容器 */
  z-index: -1; /* 放在內容後面 */
  opacity: 0.3; /* 可調整透明度 */
  transition: opacity 0.5s ease;
}

.hero_img img {
  width: 100%;
  max-width: min(400px, 80vw);
  border-radius: 50%;
  box-shadow: var(--shadow-color);
}
.hero_text {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.hero_text h1 {
  font-size:calc(var(--font-size-lg)*1.2);
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
  font-family: "Intel One Mono", monospace;
}
.hero_text p {
  color: #544545;
  font-size: clac(var(--font-size-md)*10);
  margin-bottom: var(--spacing-lg);
  font-family: "Intel One Mono", monospace;
}
.hero_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: var(--font-size-sm);
  padding: var(--spacing-sm);
  width: min(10rem, 50%);
  border-radius: 2rem;
  border: var(--primary-color) 0.1rem solid;
  transition: all 0.3s ease;
  box-shadow:var(--shadow-color);
  background-color: #ffffff;
  font-family: "Intel One Mono", monospace;
  text-decoration: none;
  color: black;
}
.btn:hover {
  background-color:var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.scroll-down {
  position: absolute;
  bottom: var(--spacing-md);
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 80px;
  border: 2px solid #596a76;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
}

.scroll-down span {
  width: 10px;
  height: 10px;
  background-color: #596a76;
  border-radius: 50%;
  animation: scrollMove 2s infinite;
}
/*- ---------- 關於 ---------- */
.about {
  padding:var(--spacing-lg) var(--spacing-md);
  text-align: center;
  min-height: 100vh;
  max-width: 90%;
  margin: var(--spacing-lg) auto;
}
.about_title {
  font-size: var(--font-size-lg);
  text-align: center;
  flex-direction: column;
}
.about {
  display: block;
  background-color: #ffffff;
  width: 100%;
  max-width: 90%;
  margin: 0rem auto;
}
.about_card img {
  width: 100%;
  max-width: 400px;
  max-height: 600px;
  border-radius: 30px;
  box-shadow: var(--shadow-color);
}

.about_card p {
  padding: var(--spacing-md);
  font-size: var(--font-size-md);
  line-height: 2.5;
}
/* ---------- 作品卡片------- */
.projects {
  text-align: center;
  padding: var(--spacing-lg) var(--spacing-md);
}
.projects_title {
  font-size: var(--font-size-lg);
  text-align: center;
}

.projects_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: var(--spacing-lg);
  margin: var(--spacing-lg) auto;
  max-width: 90%;
}

.project_img img {
  max-width: 600px;
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--shadow-color);
}

.projects_card {
  background-color: #ffffff;
  padding: var(--spacing-md);
  border-radius: 20px;
  border: var(--border-color) 0.2rem solid;
  transition: box-shadow 0.5s ease;
}
.projects_card:hover {
  box-shadow: 0 0 15px rgba(19, 13, 13, 0.5);
}
.projects_card h2 {
  font-size: var(--font-size-md);
  margin-top: var(--spacing-md);
}

.projects_card p {
  font-size: var(--font-size-sm);
  margin: var(--spacing-sm);
}
.project_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: var(--font-size-sm);
  padding: var(--spacing-sm);
  width: min(10rem, 50%);
  border-radius: 2rem;
  border: var(--primary-color) 0.1rem solid;
  box-shadow: var(--shadow-color);
  background-color: #ffffff;
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: "Intel One Mono", monospace;
}
.project_btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}
/* ---------- 聯絡 ---------- */
.contact {
  font-size: var(--font-size-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-lg) var(--spacing-md);
}
.contact__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: var(--border-color) 0.2rem solid;
  padding: var(--spacing-md);
  margin: var(--spacing-lg) auto;
  width: min(90%, 600px);
}
.contact_gmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}
.email_icon {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.contact_gmail h2{
  font-size: var(--font-size-sm);
}
/* -------浮現動畫------- */
.hidden-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.hidden-section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ---------- 媒體查詢 ---------- */
@media (min-width: 768px) {
  .navbar_links {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .hamburger {
    display: none;
  }

  .hero {
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  .hero_img {
    width: 100%;
  }

  .hero_text h1 {
    font-size: var(--font-size-lg);
  }

  .hero_text p {
    font-size: var(--font-size-md);
  }

  .about {
    max-width: 70%;
  }

  .projects_wrapper {
    margin: var(--spacing-lg) auto;
  }

  .projects_card {
    max-width: 500px;
  }

  .contact__wrapper {
    width: min(30%, 600px);
  }
}
@keyframes scrollMove {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
@media screen and (max-width: 375px) {
  .navbar_links {
    display: none;
    flex-direction: column;
    text-align: center;
  }
  .navbar_links.active {
    display: flex;
  }
  .hamburger {
    display: flex;
  }

  .hero {
    flex-direction: column;
    gap: 3rem;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero .btn{
    font-size: 1.2rem;
    padding: 0.8rem;
    width: 8rem;
    border-radius: 2rem;
  }
  .hero p {
    font-size: 1.5rem;
  }
  .hero_img {
    width: 70%;
  }
  .about h1{
    font-size: 1.5rem;
  }
  .about_card p{
    font-size: 1.5rem;
  }
  .about_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .about_card img {
    margin-bottom: 2rem;
  }
  .about_card p {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .projects_wrapper {
    flex-direction: column;
    margin: 2rem;
  }

  .projects_card {
    max-width: 90%;
  }
  .contact h1{
    font-size: 1.5rem;
  }
  .contact__wrapper {
    width: 90%;
    padding: 2rem;
  }
}
@keyframes scrollMove {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}