body {
  background: #fbeeee; /* 整體背景色 */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.poster {
  position: relative;
  width: 400px;
  height: 600px;
  background: #fbeeee;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

/* 大字 retro，透明顯示圖片 */
.retro {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  top: 195px; 
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;

  background: url('img1.jpg') no-repeat center 30% / cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 2;
}

/* 下方圖片正常顯示 */
.bg-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:340px;
  object-fit: cover;
  z-index: 1;
}

/* 底部資訊和條碼 */
.bottom-info {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 3;
  font-size: 12px;
  text-transform: uppercase;
}

.barcode {
  width: 100px;
  height: 40px;
  margin: 5px auto 0;
  background: repeating-linear-gradient(
    90deg,
    black 0,
    black 2px,
    white 2px,
    white 4px
  );
}
